body {
    font-family: Courier;
    color: greenyellow;
    background-color: rgb(48, 48, 48);
    text-align: center;
}

#cabecera {
    color: white;
    background-color: rgb(216, 36, 36);
    font-size: 20px;
}